@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

header {
    height: 100vh;
    width: 100%;
    background: #E0E0E0;

}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin:  20px auto;
}

nav .navbar .menu {
    display: flex;
}

.navbar .menu li {
    list-style-type: none;
    margin: 0 20px;
}

.navbar .menu li a {
    text-decoration: none;
    color: #2c3520;
    font-weight: 500;
}

header .navbar .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}


.navbar .buttons .button {
    padding: 7px 16px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    background: #E0E0E0;
    color: #4CAF4F;
}

.navbar .buttons .btn2 {
    color: #fff;
    background-color: #4CAF4F;
}

header .banner {
    position: relative;
    width: 85%;
    margin: 0 auto;
    height: 100vh;
}

header .banner .text-content {
    position: absolute;
    width: 50%;
    top: 36%;
    left: 1%;
}

.banner .text-content .big-text {
    font-size: 50px;
    color: #000;
    font-weight: 500;
}

.banner .text-content .green-text {
    color: #4CAF4F;
}

.banner .text-content p {
    margin: 20px 0 30px 0;
    font-size: 13px;
}

.banner .text-content button{
    padding: 13px 30px;
    background-color: #4CAF4F;
    color: #fff;
    border: none;
    border-radius: 2px;
}

.banner .banner-img {
    position: absolute;
    right: 0;
    top: 20%;
}

.client-section {
    width: 100%;
}

.client-section .our-client {
    width: 85%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.client-section .our-client .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
}

.client-section .our-client p {
    margin: 10px 0;
    font-size: 13px;
}

.client-section .our-client .clients-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.community-section {
    width: 100%;
    margin-top: 40px;
}

.community-section .community {
    width: 85%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.community-section .community .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
    text-align: center;
}

.community-section .community p {
    margin: 10px 0;
    font-size: 13px;
}


.community-section .community .frames {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.community .frames .frame {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 250px;
    padding: 20px;
}
